

html ,body
{
    min-height: 100%;
    height:1px;

}

div#content-container
{
    min-height: 80%;


}


#footer-container
{
    min-height: 15%;

    height: 1px;
}


#footer-container > .row , #footer-container > .row > footer
{
    min-height: 100%;

    height: 1px;

}




